
header {
	background-color: #efefef;
}

header .title {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	margin-top: 2rem;
}

main .refresh {
	text-align: right;
	font-style: italic;
	font-size: 1.2rem;
	color: grey;
}

main .service {

}

main .service .card {
	cursor: pointer;
}

main .service .card:hover {
	background-color: #efefef;
}

main .service .description {
	width: 80%;
	display: inline-block;
}

main .service .status {
	width: 20%;
	display: inline-block;
	text-align: right;
}

main .service .status .color.green {
	background-color: green;
}

main .service .status .color.orange {
	background-color: orange;
}

main .service .status .color.red {
	background-color: red;
}

main .service .status .color.grey {
	background-color: grey;
}

main .service .status .time {
	font-style: italic;
}

